/* playfair-display-regular - latin */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/playfair-display-v15-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
    url('../fonts/playfair-display-v15-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/playfair-display-v15-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/playfair-display-v15-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/playfair-display-v15-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/playfair-display-v15-latin-regular.svg#PlayfairDisplay') format('svg');
  /* Legacy iOS */
}

/* pt-sans-regular - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v11-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'),
    url('../fonts/pt-sans-v11-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/pt-sans-v11-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/pt-sans-v11-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/pt-sans-v11-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/pt-sans-v11-latin-regular.svg#PTSans') format('svg');
  /* Legacy iOS */
}

/* marck-script-regular - latin */
@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/marck-script-v10-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Marck Script'), local('MarckScript-Regular'),
    url('../fonts/marck-script-v10-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/marck-script-v10-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/marck-script-v10-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/marck-script-v10-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/marck-script-v10-latin-regular.svg#MarckScript') format('svg');
  /* Legacy iOS */
}

/*

header{
}

footer{
  background-color: #e8e8e8;
}

.wrapper{
  background-color: #fbebea;
}
.top-menu{
  font-family: PTSans;
  font-size: 6.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #2d2829;
}

.top-menu li a{
  color: #2d2829;
  text-decoration: none;
}

.content1{
  background-image: url(../images/block1/decorTort1.png),
                    url(../images/block1/decorIcon1.svg),
url(../images/block1/decorIcon2.svg);
background-size: 686px 4645px, 28px 28px, 28px 28px;
background-repeat: no-repeat;
}

.content1 span{
width: 130px;
height: 22px;
font-family: 'Marck Script';
font-size: 21px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.9;
letter-spacing: normal;
text-align: left;
color: #32313d;
}
.content1 p{
width: 40px;
height: 16px;
font-family: PTSans;
font-size: 7px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.29;
letter-spacing: normal;
text-align: left;
color: #000000;
}
.cakesToOrder{
  width: 177px;
  height: 64px;
  font-family: PlayfairDisplay;
  font-size: 39px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.89;
  letter-spacing: 3px;
  text-align: left;
  color: #2e2829;
}

.cakeSelection{

}

.cakeSelection h4{
  width: 71px;
  height: 9px;
  font-family: PTSans;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.06;
  letter-spacing: normal;
  text-align: left;
  color: #2d2829;
}

.cakeSelection span{
width: 34px;
height: 9px;
opacity: 0.7;
font-family: PTSans;
font-size: 10px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 3.68;
letter-spacing: normal;
text-align: left;
color: rgba(45, 40, 41, 0.7);
}

.our-torts__header{
  width: 127px;
 height: 18px;
 font-family: PlayfairDisplay;
 font-size: 20px;
 font-weight: bold;
 font-stretch: normal;
 font-style: normal;
 line-height: 1.65;
 letter-spacing: 0.2px;
 text-align: left;
 color: #2d2829;
}

.individual-order{

}

.filling{
  background-color: #ffffff;
}

.filling h6{
  width: 87px;
height: 8px;
font-family: PTSans;
font-size: 10px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 2.73;
letter-spacing: 0.1px;
text-align: left;
color: #2f2f2f;
}

.filling h4{
  width: 67px;
  height: 28px;
  font-family: PlayfairDisplay;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.14px;
  text-align: left;
  color: #f50049;
}

.filling h4 span{
  width: 29px;
height: 16px;
font-family: PlayfairDisplay;
font-size: 29px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 2.63;
letter-spacing: 0.29px;
text-align: left;
color: #f50049;
}

.sizeTorts{
  background-color: #ffffff;

}

.decorTort{
background-color: #ffffff;
background-image: url(../images/block3/decor.png);
background-size: 126px 167px;
background-repeat: no-repeat;
}

.individual-order__header{
  width: 236px;
  height: 20px;
  font-family: PlayfairDisplay;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.65;
  letter-spacing: 0.2px;
  text-align: left;
  color: #2d2829;
}

.review{
  width: 84px;
  height: 15px;
  font-family: PlayfairDisplay;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.65;
  letter-spacing: 0.5px;
  text-align: left;
  color: #2d2829;
}

.order{
  background-color: #cb4b50;
}

.headerOrder{
  width: 127px;
  height: 15px;
  font-family: PlayfairDisplay;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.65;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.advantages{
  width: 207px;
height: 17.5px;
font-family: PlayfairDisplay;
font-size: 20px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 0.83;
letter-spacing: normal;
text-align: left;
color: #2d2829;
 } */
/* $projectWhite: #ffffff; */
body {
  margin: 0 auto;
  background: #fbebea;
  max-width: 1366px;

}

.wrapper {
  padding: 72px 72px;
}

.top-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.top-menu__item {
  display: inline-block;
  margin: 0 64px 0 0;
  font-family: 'PTSans', 'Times New Roman', serif;
  font-size: 13px;
}

.top-menu__list {
  margin: 0;
  padding: 0;
  /* float: right; */
  display: flex;
}

.top-menu__logo {
  display: inline-block;
  /* float: left; */
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.top-menu__item-link.active {
  color: #f50049;
}

.top-menu__item-number-link {
  text-decoration: none;
  color: #2d2829;
  margin-left: 0px;
  font-size: 15px;
  font-weight: bold;
}

.top-menu__item-link {
  text-decoration: none;
  color: #2d2829;
}

.preview{
  background-image: url(../images/block1/decorTort1.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position: right; */
  background-position-y: center;
  background-position-x: 330%;
  padding: 141px 0 315px 0px;
}

.preview__header{
  /* text-align: left; */
  /* margin: 164px 0 32px; */
  /* margin: 0; */
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-size: 79px;
  line-height: 70px;
  width: 353px;
  letter-spacing: 6px;
  font-weight: bold;
  color: #2e2829;
  margin: 0;
}

.preview__subheader{
  /* text-align: left; */
  /* margin: 0 0 54px; */
  font-family: 'Marck Script', 'Times New Roman', cursive;
  font-size: 41px;
  font-weight: normal;
  color: #32313d;
  margin: 32px 0 0;
}

.preview__button{
  /* margin-top: 54px; */
  width: 226px;
  height: 51px;
  background: transparent;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  margin: 54px 0 0px;
}

.preview__info-wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 128px;
  width: 459px;
}

.preview__info-ingredient{
  background-size: 55px 55px;
  background-repeat: no-repeat;
  background-image: url('../images/block1/decorIcon1.svg');

  padding-left: 67px;
  padding-top: 17px;
  padding-bottom: 10px;

  font-size: 14px;

}

.preview__info-delivery{
  background-size: 55px 55px;
  background-repeat: no-repeat;
  background-image: url('../images/block1/decorIcon2.svg');
  /* padding-right: 50px; */
  padding-left: 67px;
  padding-top: 17px;
  padding-bottom: 10px;

  font-size: 14px;

}

.our-torts__header{
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 66px;
  margin-bottom: 63px;
}

.our-torts__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
}

.our-torts__item-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.individual-order__header {
  margin: 0 0 16px;
  font-family: 'Playfair Display', 'Times New Roman', serif;
  text-align: center;
  font-size: 40px;
  line-height: 66px;
}

.individual-order__subheader {
  margin: 0 0 46px;
  font-family: 'Marck Script', cursive;
  font-size: 35px;
  line-height: 78px;
  text-align: center;
}

.individual-order__step {
  background: #ffffff;
}

/*/////FILLING BLOCK/////*/
.filling {
  padding: 74px 123px 93px 82px;
}

.filling__header {
  margin: 0;
  width: 133px;
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-size: 27px;
  line-height: 30px;
  color: #f50049;
}

.filling__header-order {
  display: block;
  font-size: 58px;
  line-height: 58px;
}

/*SLIDER BLOCK*/
/* .slider__item:not(:first-child) { display: none; } */
.slider {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.slider__inner-wrapper {
  order: 2;
}

.slider__button {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  /* position: absolute; */
  /* top: 1px; */
  /* left: 1px; */
}

.slider__button--left {
  order: 1;
}

.slider__button--left:hover {
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.16);
}

.slider__button--right {
  order: 3;
  transform: rotate(180deg);
}

.slider__button--right:hover {
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.16);
}

.slider__item {
  display: flex;
  width: 710px;
}

.slider__item-image {
  margin-right: 42px;
}

.slider__info-wrapper {
  margin-top: 68px;
}

.slider__item-header {
  margin: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 20px;
  line-height: 24px;
}

/*BUTTON BLOCK*/
.button {
  padding: 21px 61px;
  background-color: #f50049;
  color: #ffffff;
  border: none;
  box-shadow: 0px 5px 7px 1px rgba(255, 0, 67, 0.3);
  border-radius: 25px;
  text-transform: uppercase;
  font-family: 'Pt Sans', 'Arial', sans-serif;
  font-size: 13px;
}
